<!DOCTYPE html>
<html lang="en">
<head>
<include href="views/head.html">
</head>
<body>
<div class="container" id="main">
    <form method="post" action="#">

        <fieldset class="form-group">
            <legend>Personal Information</legend>
            <div>
                <label><strong>First Name.</strong></label><br>
                <input type="text" name="first" value="{{ @first }}">
                <check if="{{ @errors['first'] }}">
                    <span class="err">{{ @errors['first'] }}</span>
                </check><br>
            </div>
            <div>
                <label><strong>Last Name.</strong></label><br>
            <input type="text" name="last" value="{{ @last }}">
                <check if="{{ @errors['last'] }}">
                    <span class="err">{{ @errors['last'] }}</span>
                </check><br>
            </div>
            <div>
            <label><strong>Age.</strong></label><br>
            <input type="text" name="age" value="{{ @age }}">
                <check if="{{ @errors['age'] }}">
                    <span class="err">{{ @errors['age'] }}</span>
                </check><br>
            </div>
            <div>
            <label><strong>Gender</strong></label><br>
            <input type="radio" name="gender" value="Male"> Male
            <input type="radio" name="gender" value="Female"> Female
            </div>
            <div>
                <label><strong>Phone Number</strong></label><br>
            <input type="text" name="phone" value="{{ @phone }}">
                <check if="{{ @errors['phone'] }}">
                    <span class="err">{{ @errors['phone'] }}</span>
                </check>
            </div>
            <div>
                <Label>would you like to sign up for a <strong>Premium Membership</Strong>?</Label><br>
                <input type="checkbox" name="membership" id="premium" value="{{ @membership }}">Sign me up for a Premium Account!
            </div>
        </fieldset>
        <input type="submit" value="Next Page" class="btn btn-primary btn-outline-dark">
    </form>
</div>
    <include href="views/footer.html">
</body>
</html>