<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zippy Dating</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<div class="container" id="main">
    <form method="post" action="#">

        <fieldset class="form-group">
            <legend>Personal Information</legend>
            <div>
                <label><strong>First Name.</strong></label><br>
                <input type="text" name="first" value="{{ @first }}">
                <check if="{{ @errors['first'] }}">
                    <span class="err">{{ @errors['first'] }}</span>
                </check><br>
            </div>
            <div>
                <label><strong>Last Name.</strong></label><br>
            <input type="text" name="last" value="{{ @last }}">
                <check if="{{ @errors['last'] }}">
                    <span class="err">{{ @errors['last'] }}</span>
                </check><br>
            </div>
            <div>
            <label><strong>Age.</strong></label><br>
            <input type="number" name="age" value="{{ @age }}">
                <check if="{{ @errors['age'] }}">
                    <span class="err">{{ @errors['age'] }}</span>
                </check><br>
            </div>
            <div>
            <label><strong>Gender</strong></label><br>
            <input type="radio" name="gender" value="Male"> Male
            <input type="radio" name="gender" value="Female"> Female
            </div>
            <div>
                <label><strong>Phone Number</strong></label><br>
            <input type="tel" name="phone" value="{{ @phone }}">
                <check if="{{ @errors['phone'] }}">
                    <span class="err">{{ @errors['phone'] }}</span>
                </check>
            </div>
            <div>
                <Label>would you like to sign up for a <strong>Premium Membership</Strong>?</Label><br>
                <input type="checkbox" name="membership[]" value="Sign me up for a Premium Account!">
            </div>
        </fieldset>
        <a href="information" class="btn btn-primary btn-outline-dark">Next Page</a>
    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>