<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/head.html">
</head>
<body>

<div class="container" id="main">
    <form method="post" action="#">

        <fieldset class="form-group">
            <legend>Interests</legend>
            <div>
                <label><strong>Indoor Activities</strong></label><br>
                <repeat group="{{ @indoor }}" value="{{ @indoorOption }}">
                    <label><input type="checkbox"
                                  name="indoor[]"
                                  value="{{ @indoorOption }}"
                        <check if="{{ isset( @selectedIndoor ) && in_array( @indoorOption, @selectedIndoor )}}">
                            checked="checked"
                        </check>
                        >{{ @indoorOption }}
                    </label>
                </repeat>
                </div>
            <div>
                <label><strong>Outdoor Activities</strong></label><br>
                <repeat group="{{ @outdoor }}" value="{{ @outdoorOption }}">
                    <label><input type="checkbox"
                                  name="outdoor[]"
                                  value="{{ @outdoorOption }}"
                        <check if="{{isset( @selectedOutdoor ) && in_array( @outdoorOption, @selectedOutdoor )}}">
                            checked="checked"
                        </check>
                        >{{ @outdoorOption }}
                    </label>
                </repeat>
            <div>
        </fieldset>
        <input type="submit" value="Submit" class="btn btn-primary btn-outline-dark">
    </form>
</div>

<include href="views/footer.html">
</body>
</html>