<!DOCTYPE html>
<html lang="en">
<head>
  <include href="views/head.html">
</head>
<body>

<div class="container" id="main">
    <form method="post" action="#">

        <fieldset class="form-group">
            <legend>Profile</legend>
            <div>
                <label><strong>Email.</strong></label><br>
                <input type="text" name="email" value="{{ @email }}">
                <check if="{{ @errors['email'] }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check><br>
            </div>
            <div>
                <label for="location"><strong>State.</strong></label><br>
                <select id="location" name="location">
                    <option>Select a State</option>
                    <repeat group="{{ @states }}" value="{{ @stateOption }}">
                        <option value="{{ @stateOption }}"
                        <check if="{{ @state == @stateOption }}">
                            selected="selected
                        </check>
                            >{{ @stateOption }}
                        </option>
                    </repeat>
                </select>
            </div>
            <div>
                <label><strong>Seeking</strong></label><br>
                <input type="radio" name="seeking" value="Male">Male
                <input type="radio" name="seeking" value="Female"> Female
            </div>
            <div>
                <label><strong>Biography</strong></label><br>
                <textarea name="bio"></textarea>
            </div>
        </fieldset>
        <input type="submit" value="Next Page" class="btn btn-primary btn-outline-dark">
    </form>
</div>

<include href="views/footer.html">
</body>
</html>