<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<div class="container" id="main">
    <h1>Zippy Dating</h1>
    <fieldset class="form-group">
        <legend>About us</legend>
        <div class="form-group">
            <p>Welcome to the web's most successful dating website. At <Strong>Zippy Dating</Strong> you'll
                meet another like minded individuals. We have hte highest success rate of couples on the web.
                User's are matched by interest and location. Find out why so many others have found love on our site!
            </p>
        </div>
    </fieldset>
    <fieldset class="form-group">
    <legend>What our members are saying:</legend>
    <div class="form-group">
        <cite><q>I met the love of my life after only a month!</q> - Andrea</cite><br>
        <cite><q>It was so easy to set up a profile and start meeting people. <br>I didn't
            realize how many other were looking for love in my area</q> - John Smith</cite><br>
        <cite><q>Just try it! You'll never be the same!</q> - Sarah</cite><br>
    </div>
    </fieldset>
    <img src="images/couple.jpg" alt="couple picture">
    <h4>Want to Join the amazing people in on our site? Sign up today!</h4>
    <button type="submit" class="btn btn-primary btn-outline-dark">Create a Profile!</button>
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>