body {
    background-color: black;
}
.btn-primary {
    background-color: black;
    color: darkorange;
}
.btn-dark {
    color: darkorange;
}
fieldset {
    border:5px solid darkorange;
    padding: 10px;
}
h1, h4{
    color: black;
    alignment: center;
}
img {
    width: 980px;
    height: 1000px;
    text-align: center;
}
legend {
    font-weight: bold;
    color: darkorange;
    font-variant: small-caps;
    font-size: 125%;
}
#main {
    background-color: white;
    margin: 0 10em 5em 10em;
    padding: 6em;
}
